* {
	font-family : baskerville;
	
}



.heading h1 {
	padding : .6em;
	font-size : 2.5em;
}




@media screen and (min-width: 980px) {

.nav {
	padding : .7em .25em .7em .2em;
	margin-left : 1em;
	background : #cccccc;
	width : 13.3em; 
	float : left; 
	
}

.body-wrap {
	background : #cccccc;
	margin : 0em 0em 0em 2em;
	width : 43em;
	position : absolute; 
	left : 14.8em;
}
	
.blog-date {
	font-weight : bold;
	display : inline;
	margin-left: 1em;
	margin-bottom: 1em;
}

.heading {
	margin : 1em 1em -.5em 1em;
	text-align : center;
	background : #990000;
}


} @media screen and (max-width: 979px) {

.nav {
	padding : .7em .25em .7em .2em;
	width : 25em;
	margin : auto;
	background : #cccccc;
}

.body-wrap {
	background : #cccccc;
	width : 25em;
	margin : auto;
	margin-top : 1.25em;
	margin-bottom : 2.25em;
}

.blog-date {
	font-weight : bold;
	margin-bottom: 1em;
}

.heading {
	width : 25em;
	margin : auto;
	margin-top : 1em;
	margin-bottom : -.5em;
	text-align : center;
	background : #009900;
}


}



ul {
	margin-top: .6em;
	margin-left: -.8em;
}

ul ul {
	margin-top: 0px;
  	margin-left: -2em;
}

ul li {
	margin-top: .8em;
}





.blog-title {
	font-weight : bold;
	display : inline;
	margin-bottom : 1em;
}

.blog-body {
	margin-top : .6em;
	
}


.blog-entry {
	text-align : left;
	padding : .7em .7em .7em .7em;
}


