
body {
	background-color : #dddddd;
}



.heading h1 {
	padding : .6em;
	font-size : 2.5em;
	font-family : Alvo, baskerville;	
}


.blog-title {
	font-size : 2em;
	font-weight : bold;
	font-family : Vollkorn, verdana;
	display : inline;
	margin-bottom : .4em;
}

.blog-body {
	margin-top : .4em;
	margin-bottom : .5em;
	font-size : 1.1em;
}


.blog-entry {
	text-align : left;
	padding : .7em .7em .7em .7em;
	margin-bottom : .5em;
}

.blog-date {
			font-weight : bold;
			font-size : 1.2em;
			margin-bottom: .4em;
			font-family : Vollkorn, verdana;
		}





ul {
	margin-top: .6em;
	margin-left: -.2em;
}

ul ul {
	margin-top: 0em;
  	margin-left: -2em;
}

ul li {
	margin-top: .8em;
}



/* When the screen is normal size on a computer. */
@media screen and (min-width: 900px) {

	.nav {
		padding : .7em .6em .7em 0em;
		margin-left : 1em;
		background : #ffffff;
		width : 17.2em; 
		float: left;
		border-radius : 1em;
		font-family : Arvo, baskerville;
	
	}

	.body-wrap {
		background : #ffffff;
		margin : 0em 0em 0em 2em;
		width : 43em;
		position : absolute; 
		left : 18.7em;
		border-radius : 1em;
		font-family : Vollkorn, verdana;
	}

	.heading {
		margin : 1em 1em -.5em 1em;
		text-align : center;
		background : #6666bb;
		border-radius : 1em;
	}


} @media screen and (max-width: 899px) {

	/* When a screen is small size and mobile */
	@media screen and (max-device-width: 600px) {
		.nav {
			width : 90%;
			padding : .7em 0em .7em 0em;
			margin : auto;
			background : #ffffff;
			border-radius : 1em;
			font-family : Arvo, baskerville;
		}

		.body-wrap {
			background : #ffffff;
			width : 90%;
			margin : auto;
			margin-top : 1.25em;
			margin-bottom : 2.25em;
			border-radius : 1em;
			font-family : Vollkorn, verdana;
		}

		.heading {
			width : 90%;
			margin : auto;
			margin-top : 1em;
			margin-bottom : -.5em;
			text-align : center;
			background : #6666bb;
			border-radius : 1em;
		}
		
	/* When a screen is small and on a computer */
	} @media screen and (min-device-width: 600px) {
		.nav {
			padding-top : .7em;
			padding-bottom : .7em;
			width : 30em;
			margin : auto;
			background : #ffffff;
			border-radius : 1em;
			font-family : Arvo, baskerville;
		}

		.body-wrap {
			background : #ffffff;
			width : 30em;
			margin : auto;
			margin-top : 1.25em;
			margin-bottom : 2.25em;
			border-radius : 1em;
			font-family : Vollkorn, verdana;
		}

		

		.heading {
			width : 30em;
			margin : auto;
			margin-top : 1em;
			margin-bottom : -.5em;
			text-align : center;
			background : #6666bb;
			border-radius : 1em;
		}
	}
}

.page-title {
	text-align : center;
	margin-left : .3em;
	padding-top : .4em;
	font-weight : bold;
	font-size : 2em;
}

a {
	color : #6666bb;
	font-weight : bold;
	text-decoration : none;
}

a:hover {
	color : #8888dd;
	
}

.content * {
	margin : auto;
}

	




